{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <div class="container " style="right: 2%; top: 13%;">
    <div class="row">
    <div class="col-12">
    <h1>liste d'utilisateurs </h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.username }}</td>
                <td> {%  for role in utilisateur.Roles%}
                            {{ role }}&nbsp;&nbsp;&nbsp;
                    {% endfor %}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock %}