{#affichage des categorie#}
{% for categorie in categories %}
<<<<<<< HEAD
    <li >
=======
    <li class="list-group-item">
>>>>>>> 94088b44bb5d4847aea9b5f5b85054033b1501b6
        <a href="{{ path('CategorieProduits',{'categorie' : categorie.id}) }}">{{categorie.nomCategorie  }}</a>
    </li>
{% endfor %}


