{#affichage des categorie#}
{% for categorie in categories %}
<<<<<<< HEAD
    <li >
=======
    <li class="list-group-item">
>>>>>>> refs/remotes/origin/master
        <a href="{{ path('CategorieProduits',{'categorie' : categorie.id}) }}">{{categorie.nomCategorie  }}</a>
    </li>
{% endfor %}


