<div class="container">
    <div class="row">

        <div class="col-3">

            <div class="well">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="ajout-edit.php">Produits</a>
                    </li>
                    <li class="list-group-item">
                        <a href="ajout-edit.php">Catégories produits</a>
                    </li>
                </ul>
            </div><br>

            <div class="well">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="ajout-edit.php">Benevole</a>
                    </li>
                    <li class="list-group-item">
                        <a href="ajout-edit.php">Parents</a>
                    </li>
                </ul>
            </div><br>

            <div class="well">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#">Pages</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
