<div class="container position-relative pull-left">
    <div class="row">

        <div class="span4 col-3">

            <div class="well">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('adminProduit_index') }}">Produits</a>
                    </li>
                    <li class="list-group-item">
                        <a href="">Catégories produits</a>
                    </li>
                </ul>
            </div><br>

            <div class="well">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('adminUtilisateurs_index') }}">Utilisateur</a>
                    </li>

                </ul>
            </div><br>

            <div class="well">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('adminPages_index') }}">Pages</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
