
        <a href="{{ path('fos_user_security_login') }}" type="button" class="btn btn-outline-success" >Connexion</a>
        <a href="{{ path('fos_user_registration_register') }}" type="button" class="btn btn-outline-success" style="margin-left: 10px;">Inscription</a>
