
            <a class="badge badge-light nav-link" href="{{ path('Panier') }}">
               {% if article == 0 %}
                   (0) panier
               {% else %}
                    ({{ article }}) panier
               {% endif %}
           </a>