{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
            <div class="row">

                <div class="span3">
                    {% include '::modulesUsed/navigation.html.twig' %}
                </div>
                    <div class="jumbotron jumbotron-billboard">
                        <div class="img"></div>
                        <div class="container">
                            <div class="col-lg-12">
                                <h1>Bonjour à vous !</h1>
                                <p>Bienvenue sur le site officiel de GeRo.</p>
                                <p><a class="btn btn-info btn-lg" href="#" role="button">En savoir plus &raquo;</a></p>

                            </div>
                        </div>
                     </div>
                <div id = "MyCarousel" class="carousel slide" data-ride="carousel">

                    <ol class = "carousel-indicators">
                        <li data-target = "#carousel-example" data-slide-to="0" class = "active"></li>
                        <li data-target = "#carousel-example" data-slide-to="1"></li>
                        <li data-target = "#carousel-example" data-slide-to="2"></li>

                    </ol>

                    {% for produit in produits %}
                        <div class = "carousel-inner">
                            <div class = "item active">
                                <img src="{{ produit.image.path }}" width="300" height="300">
                                <div class="carousel-caption">
                                    <h3>{{ produit.description}}</h3>
                                    <p>{{ produit.nom }}</p><br><br>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <a href="#MyCarousel" class="left carousel-control" data-slide="prev">
                        <span class = "glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>

                    </a>
                    <a href = "#MyCarousel" class="right carousel-control" data-slide = "next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>


                </div>
        </div>
    </div>

{% endblock %}

